<div class="header__filter">
  <span class="header__filter-title">Sorting by:</span>
  <ul class="header__filter-list">
    <li
      *ngFor="let sortItem of sortService.sortData"
      class="header__filter-item"
      (click)="sortService.handleSort(sortItem.type)">
      {{ sortItem.text }}
      <span>{{ sortItem.order }}</span>
    </li>
    <li class="header__filter-item">by word or sentence</li>
  </ul>
  <mat-form-field class="header__filter-input">
    <mat-label>Filter</mat-label>
    <input matInput [(ngModel)]="filterService.filterValue" name="filterValue" />
  </mat-form-field>
</div>
