<div class="info">
  <div class="container">
    <div class="info__content" *ngIf="item">
      <a class="info__back-button" routerLink="..">
        <mat-icon class="info__arrow-back">arrow_back_ios_new</mat-icon>
      </a>
      <div class="info__img">
        <img [src]="item.snippet.thumbnails.high.url" [alt]="item.snippet.title" />
      </div>
      <div class="info-right" [appBottomColor]="item.snippet.publishedAt">
        <div class="info-right__container">
          <div class="info-right__top">
            <h1 class="info-right__title">{{ item.snippet.title }}</h1>
            <div class="info-right__date">{{ item.snippet.publishedAt | date : 'fullDate' }}</div>
          </div>
          <div class="info-right__description">
            <h4>Description:</h4>
            <p>{{ item.snippet.description }}</p>
          </div>
        </div>
        <app-statistics [item]="item"></app-statistics>
      </div>
    </div>
  </div>
</div>
