.header__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #a8a8a8;
  opacity: 1;
  transition: 0.3s;
}

.header__filter-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.header__filter-item {
  display: inline-block;
  cursor: pointer;
  color: #3f51b5;
  text-decoration: underline;
  user-select: none;
}

.header__filter-item:hover {
  text-decoration: none;
}

.header__filter-item:last-child,
.header__filter-item:last-child:hover {
  text-decoration: none;
  cursor: default;
}
