:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin {
  width: 400px;
  margin-top: 4rem;
  padding: 3rem 2rem;
  background: #f2f2f2;
  border-radius: 5px;
}

.admin__title {
  font-weight: 700;
}

.admin__form {
  display: flex;
  flex-direction: column;
}

.admin__button {
  margin-top: 1rem;
  width: 50%;
  margin-left: auto;
  padding: 0.5rem;
  font-size: 1.25rem;
}
